body{
    background-color: rgb(2, 18, 29);
    color: aliceblue;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
};

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    box-shadow: 0px 2px 0px 0px rgba(252, 249, 249, 0.322);
}

.nav-logo{
    width: 60px;
}

.nav-items{
    list-style: none;
    display: inline-flex;
    position: absolute;
    line-height: 2em;
}

.nav-items > li{
    padding: 10px;  
    
}
li > a{
    text-decoration: none;
}
.footer{
    text-align: center;
    background-color: rgb(10, 247, 168);
    color: rgb(45, 8, 80);
    height: 50px;
    vertical-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 5px;
    margin: 0%;
    font-style: italic;
};